name: CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

permissions:
  contents: read        # For checkout and comparing commits
  pull-requests: write  # For creating/updating PR comments

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.14'

      - name: Upgrade PIP
        run: python -m pip install --upgrade pip

      - name: Install Poetry
        run: pip install poetry

      - name: Install dependencies
        run: poetry install

      - name: Verify .venv
        run: |
          ls -la .venv
          poetry env info

      - name: Upload virtual environment as artifact
        uses: actions/upload-artifact@v5
        with:
          name: python-venv
          path: .venv/
          retention-days: 1

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v5

      - name: Download virtual environment artifact
        uses: actions/download-artifact@v5
        with:
          name: python-venv
          path: .venv/

      - name: Run tests with coverage
        run: |
          source .venv/bin/activate
          poetry run pytest ./tests --junitxml=pytest.xml --cov-report=term-missing:skip-covered --cov=./src  | tee pytest-coverage.txt

      - name: Upload coverage reports to GitHub
        uses: actions/upload-artifact@v5
        with:
          name: code-coverage-report
          path: pytest.xml

      - name: Pytest Coverage Comment
        uses: MishaKav/pytest-coverage-comment@v1.2.0
        with:
          pytest-coverage-path: ./pytest-coverage.txt
          junitxml-path: ./pytest.xml
          github-token: ${{ secrets.GITHUB_TOKEN }}
