name: Python CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: checkout
        uses: [actions/checkout](github.com)@v4
      - name: Set up Python
        uses: [actions/setup-python](github.com)@v5
        with:
          python-version: '3.14'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry install
      - name: Run tests with coverage
        run: |
          pytest --cov=f1p --cov-report=xml:coverage.xml --cov-report=term ./tests
      - name: Upload coverage reports to GitHub
        uses: [actions/upload-artifact](github.com)@v4
        with:
          name: code-coverage-report
          path: coverage.xml
