name: Unit Tests

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.14'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry install
      - name: Run tests with coverage
        run: |
          poetry run pytest ./tests --cov=./src --cov-report=xml:coverage.xml --cov-report=term
      - name: Upload coverage reports to GitHub
        uses: actions/upload-artifact@v5
        with:
          name: code-coverage-report
          path: coverage.xml
      - name: Pytest Coverage Comment
        uses: [ MishaKav/pytest-coverage-comment ](https://github.com/marketplace/actions/pytest-coverage-comment)@main
          with:
            pytest-coverage-path: coverage.xml
            github-token: ${{ secrets.GITHUB_TOKEN }}
